* {
    box-sizing: border-box;
}

body {
    background-color: ghostwhite;
    margin: 0;
    overflow: hidden;
}

.home-wrapper {
    height: 100vh;
    width: 300vw;
    position: absolute;
    transition: 0.5s all;
    display: flex;
}

.home-wrapper div {
    height: 100%;
    width: 33.3%;
}

.player-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 100px;
    background-color: bisque;
    position: absolute;
    bottom: 0;
    transition: 0.5s all;
    transform: translateX(-50%);
}
